
<%- include ../layouts/header %>

<!-- Default form contact -->
<form class="text-center border border-light p-5" method="POST" action="/admin/email">
 
  <p class="h4 mb-4">Email Send</p>

  <!-- Name -->
  <input type="text" name="title"id="defaultContactFormName" class="form-control mb-4" placeholder="Name"value="<% title %>">

  <!-- Email -->
  <input type="text" name="email"id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail"value="<% email %>">




  <!-- Message -->
  <div class="form-group">
      <textarea name="message"class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"><% message %></textarea>
  </div>

  <!-- Copy -->
  <div class="custom-control custom-checkbox mb-4">
      <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
     
  </div>

  <!-- Send button -->
  <button class="btn btn-info btn-block" type="submit">Send</button>

</form>
<!-- Default form contact -->

<%- include ../layouts/footer %>
